{% extends 'base.html' %} {% block content %}
<h1>Добро пожаловать на сайт рецептов!</h1>

<h2>Категории:</h2>
<ul>
    {% for category in categories %}
    <li><a href="{% url 'category_recipes' category.id %}">{{ category.name }}</a></li>
    {% endfor %}
</ul>

<h2>Случайные рецепты:</h2>
<ul>
    {% for recipe in recipes %}
    <li>
        <a href="{% url 'recipe_detail' recipe.id %}">{{ recipe.title }}</a><br>
        <small>{{ recipe.description|truncatewords:20 }}</small>
    </li>
    {% endfor %}
</ul>
{% endblock %}